
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header"><%= t :notice %>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->    
      <div class="row">

        <div class="col-md-12">
          <h4>廣東世博展覽有限公司關於組織企業赴伊朗參加產品展銷會相關事項的致歉聲明</h4>
          <P></P>
          <p style="text-indent: 2em;">日前，由世博展覽集團（香港）有限公司和伊朗TAVAN MEHVAR展覽公司合辦，廣東世博展覽有限公司（以下簡稱“我司”）代理招展的伊朗“家具、LED照明電工、木工機械及五金展銷會”（以下簡稱伊朗展會），由於展品未能及時到位等突發原因，導致展會未能順利完成。現就本展會相關事項，我司發表致歉聲明如下:</p>
          <p style="text-indent: 2em;">一、我司自2015年08月起即著手籌備本次伊朗展會。總經理余仲銘多次帶隊前往伊朗，籌建展廳、確定當地合作夥伴、提前宣傳策劃、邀請當地企業等。相關條件準備成熟后，在國內發出參展邀請，積極與各參展企業溝通參展事宜，並於2016年07月31日正式會同參展企業前往伊朗。但在本次展會中，出現兩個嚴重失誤，致使本次展會未取得預期效果：一是由於參展產品是由各參展企業交付給運輸公司承運，而我司未能及時跟進好與運輸公司之間的銜接工作，加上解禁后的伊朗仍存在一定不明朗因素，運輸公司沒有在規定的時間內完成展品清關手續，導致展品不能及時運輸到參展展館，參展商無法順利攜產品參展；二是由於我司未能及時將尾款支付給伊朗當地的地接公司，從當地時間8月4號開始地接公司拒絕提供服務，致使此次參展的所有人員在住宿、用餐方面都受到了影響，給此次參加伊朗展會的所有人員造成極大的不便。</p>
          <p style="text-indent: 2em;">二、針對前述嚴重失誤，我司已積極採取如下補救措施：</p>
          <p style="text-indent: 2em;">1.一方面與運輸公司加緊協商，敦促運輸公司加快展品清關工作；另一方面與伊朗地接公司溝通，最終由地接公司先幫我司墊付部分費用，繼續為參展人員提供地接服務，剩餘部分由參展企業先行籌錢解決。</p>
          <p style="text-indent: 2em;">2.我司已經安排所有參與此次伊朗展會的參展商和工作人員搭乘飛機回國，8月7日下午全員安全抵達國內。我司總經理余仲銘已前往機場迎接所有回國的參展人員，現場向所有參展人員道歉。</p>
          <p style="text-indent: 2em;">
            3.此次參展商未能及時到位的展品，我司已安排工作人員與伊朗海關方面進行接洽，盡快將參展商的展品順利出關。我司會按照參展企業的要求積極協助將展品妥善處理好。其中三家企業的展品會放置在大龍網指定的伊朗館里，其餘公司的展品將放在我司伊朗的辦公場所，由各企業的經銷商來領取或者找到適合的展覽后，我司協助將樣品展出。
          </p>
          <p style="text-indent: 2em;">
            三、在此，我司鄭重的向所有參加此次伊朗展會的企業和人員表達誠摯的歉意，對此次展會出現若干問題深感內疚。我司作為多年的展會專業組織者，雖然是第一次在伊朗舉辦展會，但也應提供優質服務，將本次展會順利完成。出現當前的結局，實非我司所願。
          </p>
          <p style="text-indent: 2em;">
            四、上述問題的出現，雖然存在一定的客觀原因，但我司負有不可推卸的責任。我司將本著實事求是、解決問題的態度，依舊合理合法的原則，不扯皮、不推諉，積極與所有參展商協商補償方案，爭取參展商的諒解，降低各方的損失。
          </p>
          <p>
            最後，再次向本次參展的所有企業及人員表達誠摯的歉意！
          </p>
          <p>
            廣東世博展覽有限公司
          </p>
          <p>
            2016年8月8日
          </p>
        </div>
    <!-- /.row -->

</div>
<!-- /.container -->